#projectName{
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-style: ridge;
}
.main-container{
  min-height: 30em;
}
.button{
    margin-left: 2rem;
    color: #329168;
}
.input{
    padding-left: 3rem;
}
#backButton{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  
  }
#Header{
    margin-left: 10rem;
    text-align: center;
}
.previous {
    background-color: #808080;
    color: white;
   
  }
.h1{
    text-align: center;
}
.col-40 {
    width: 40%;
    margin-top: 6px;
    border-style: ridge;
  }
  
  .col-30 {
    width: 30%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.example-button-row {
    display: table-cell;
    width: 490px;
  }
.mat-raised-button.mat-primary{
    background-color: #329168;
}
h3{
  text-align: center;
  padding-top: 3%;
  font-family: 'candara', Courier, monospace;
  color: #329168;
  font-size: x-large;
  font-weight:bold;
}