.label{
    font: bolder
}
.input{
    background-color: gainsboro;
    width: 100%;
    padding-left: 12%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#projectName{
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-style: ridge;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
  }
  
.previous {
    background-color: #808080;
    color: white;
   
  }
  .col-40 {
    width: 40%;
    margin-top: 6px;
    border-style: ridge;
  }
  
  .col-30 {
    width: 30%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.mat-raised-button.mat-primary{
  background-color: #329168;
}
.example-tooltip-red {
  background: #b71c1c;
  font-size: 10px;
}
#backButton{
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;

  
}