<p></p>
<div class="container-fluid">
    <div class="row">
        <div class="col-30">
        </div>
        <div class="col-40">
            <div class="flex-v-center">
                  <div class="col-xs-3" style="margin-top: 2rem;margin-left: 1rem;">
                      <p>
                        <button type="button" (click)="Back()" class="previous" id="backButton"><b><</b></button>
                        <b style="color: #329168;font-family:'candara';font-size: 25px;margin-left: 2.5rem; font-size-adjust: 0.58;">Forgot Password</b></p>
                  </div>
              </div>
            <hr style="height:3px;border-width:30;color:gray;background-color:gray">
            <div class="form-group">
                <form [formGroup]='ForgotPasswordForm' class="horizontal-form" (ngSubmit)="onSubmit()">
                    <div class="form-group mx-sm-3 mb-2">
                        <mat-form-field appearance="outline" class="form-control-range">
                            <mat-label class="fontsize">Enter Your Email</mat-label>
                            <input type="text" matInput placeholder="abc@gmail.com" formControlName="Email">
                        </mat-form-field>
                        <br />
                    </div>
                    <p style="color: #329168;font-family:'candara';font-size: 20px; text-align: center;font-weight: bold;">OR</p>
                    <div class="form-group mx-sm-3 mb-2">
                        <mat-form-field appearance="outline" class="form-control-range">
                            <mat-label class="fontsize">Enter Phone no</mat-label>
                            <input type="text" matInput placeholder="9876517290" formControlName="PhoneNo">
                        </mat-form-field>
                        <br />
                    </div>
                    <span *ngIf="AccountError.length!=0" class="text-danger mx-sm-3 mb-2">{{AccountError}}</span>
                    <br/>
                    <div class="form-group mx-sm-3 mb-2">
                        <div class="example-button-row">
                            <button mat-raised-button
                                color="primary" type="submit"
                                [disabled]="!ForgotPasswordForm.valid|| !check()">{{buttonName}}
                                <mat-icon matTooltip="At Least one Details is required"
                                matTooltipClass="example-tooltip-red" 
                                aria-label="Button that shows a red tooltip"></mat-icon>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <form  [formGroup]='OtpForm' class="horizontal-form" (ngSubmit)="onSubmitotp()">
                        <div [style.visibility]="isOtpSet ? 'visible' : 'hidden'">
                        <div class="form-group mx-sm-3 mb-2">
                            <mat-form-field appearance="outline" class="form-control-range">
                                <mat-label class="fontsize">Enter OTP</mat-label>
                                <input type="text" matInput placeholder="128592" formControlName="Otp">
                            </mat-form-field>
                            <br />
                        </div>
                        <span *ngIf="otpError.length!=0" class="text-danger mx-sm-3 mb-2">{{otpError}}</span>
                        
                        <div *ngIf="isOtpSet && errorM.length==0" class="form-group mx-sm-3 mb-2" style="color: #329168;font-family:'candara';font-size: 15px;">
                            OTP Will Expire within
                            <countdown #cd [config]="{leftTime: 60,demand: false}" (event)="handleEvent($event)">
                            </countdown> secs
                        </div>
                        <span *ngIf="errorM.length!=0" class="text-danger mx-sm-3 mb-2">{{errorM}}</span>
                        <br/>
                        <div class="form-group mx-sm-3 mb-2">
                            <div class="example-button-row">
                                <button mat-raised-button color="primary" type="submit"
                                    [disabled]="!OtpForm.valid">Verify OTP</button>
                            </div>
                        </div>
                        <br/>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-30"></div>
    </div>
</div>
<p></p>