<p></p>
<div class="container-fluid main-container">
    <div class="row">
        <div class="col-30">
        </div>
        <div class="col-40">
            <div class="form-group" id="formdiv">
                <div>
                    <div class="col-xs-3" style="margin-top: 2rem;margin-left: 1rem;">
                        <p>
                          <button type="button" (click)="Back()" class="previous" id="backButton"><b><</b></button>
                          <b style="color: #329168;font-family:'candara';font-size: 25px;margin-left: 2.5rem; font-size-adjust: 0.58;">Reset Password</b></p>
                    </div>
                </div>
                <hr style="height:3px;border-width:30;color:gray;background-color:gray">
                <form [formGroup]='ResetPasswordForm' class="horizontal-form" (ngSubmit)="Submit()">
                    <div class="form-group mx-sm-3 mb-2">
                        <mat-form-field appearance="outline" class="form-control-range">
                            <mat-label>Enter your New password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="NewPassword">
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <br />
                        <div *ngIf="NewPassword.touched && NewPassword.invalid">
                            <div *ngIf="NewPassword.errors.required" class="text-danger">Password is required.</div>
                            <div *ngIf="NewPassword.errors.pattern" class="text-danger">Choose a password of at least eight characters, one uppercase letter and one number</div>
                        </div>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <mat-form-field appearance="outline" class="form-control-range">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="ConfirmPassword">
                            <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <br />
                        <div *ngIf="ConfirmPassword.touched && ConfirmPassword.invalid">
                            <div *ngIf="ConfirmPassword.errors.required" class="text-danger">Confirm Password is required.</div>
                            <div *ngIf="ConfirmPassword.errors.confirmedValidator" class="text-danger">Password and Confirm Password must 
                                match.
                            </div>
                        </div>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <div class="example-button-row">
                            <button mat-raised-button color="primary" type="submit" [disabled]="!ResetPasswordForm.valid">Reset
                                Password</button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<p></p>